@charset "utf-8";

/*On ajoute les deux custom fonts : */
@font-face { font-family: Melbourne;
	src: url('  fonts/Melbourne_regular_basic.otf');
}
@font-face { font-family: Ginko;
	src: url('  fonts/GINKO.TTF');
}

body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:14px;
	color: #000;
	margin: 0;
	padding: 0;
	display: block;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: center top;
	background-image: url(images/bg_body_4.jpg);

}
#wrapper {
	margin: 0px;
	padding: 0px;
}

#body_global {
	height: 100%;
	width: 100%;
}

 .menu{
      display:none;
    }

ul, ol, dl, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	font-weight:normal;
}

ul, ol {list-style-type:none;}

a img {	border: none;}

/*Prise en charge de HTML 5 - Définit les nouvelles balises HTML 5 sur display:block afin que les navigateurs sachent comment effectuer un rendu correct des balises. */
header, section, footer, aside, nav, article, figure {
	display: block;
	margin:0;
}

/*----------------------STYLE----------------------*/
/*-------------------------------------------------*/

.cl {clear:both}
.margin20 { margin-bottom: 20px;}

/* La définition du style des liens de votre site doit respecter cet ordre, y compris le groupe de sélecteurs qui créent l'effet de survol. */
a:link {
	color: #333;
	text-decoration: none;
	font-weight: lighter;
}
a:visited {
	color: #900;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* ce groupe de sélecteurs offrira à un navigateur au clavier la même expérience de survol que celle d'une personne employant la souris. */
	text-decoration: underline;
	color: #900;
}

h2 {font-size:28px;
	font-family:Melbourne; /*j'utilise ma custom font Melbourne*/
	padding-bottom:6px;
	background:url( images/bg_titre.jpg) no-repeat bottom left;}




#header_top {
	height:75px;
	background-repeat: no-repeat;
	background-position: left -1px;
	background-image: url(images/LOGO_VILLE.png);
}
#box {
	
	
}
#box_doc {
	background-image: url( images/bg_box_doc.png);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	height: 175px;
	width: 337px;
	margin-right: 10px;
	margin-left: 0px;
}
#box_doc_flash
{
	width: 200px;
	float: left;
	padding-left:20 px;
	margin-top: 50px;
	margin-left: 90px;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
#box_doc_localtis {
	width: 200px;
	float: left;
	padding-left:20 px;
	margin-top: 40px;
	margin-left: 90px;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

#box_depeche {
	background-image: url(../images/box_depeche.png);
	background-repeat: no-repeat;
	list-style-type: none;
	height: 270px;
	width: 260px;
	margin-left: 15px;
	margin-right:22px;
	float: left;
	padding-top: 52px;
	padding-left: 12px;
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
	padding-right: 10px;
	font-style: normal;
	border: 1px none #C90;
}
#article_depeche {
	border: 1px none #9C3;
	margin-right: auto;
	margin-left: auto;
}
#article_gazette {
	border: 1px none #9C3;
	margin-right: auto;
	margin-left: auto;
	padding-left: 3px;
}

#box_depeche  a:hover {
	font-family: arial;
	font-size: 12px;
	color: #222;
	font-weight: normal;
}
#treebox {
	width: 100%;
	float: left;
	background-image: url(images/bg_3_bloc.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	margin-bottom: 5px;
	background-position: top;
}
#treebox li {
	list-style-type: none;
	list-style-image: none;

}
#box_gazette {
	list-style-type: none;
	height: 270px;
	width: 260px;
	background-image: url( images/box_gazette.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 22px;
	margin-left: 43px;
	padding-top: 52px;
	padding-left: 10px;
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
	padding-right: 15px;
	font-style: normal;
	border: 1px none #36C;
}
#box_gazette  a {
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}
#box_gazette  a:hover {
	font-family: arial;
	font-size: 12px;
	color: #222;
	font-weight: normal;
}
#box_annonces {
	list-style-type: none;
	height: 270px;
	width: 260px;
	background-image: url( images/box_annonces.png);
	float: left;
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-left: 35px;
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
	padding-right: 15px;
	padding-top: 52px;
	padding-left: 7px;
	font-style: normal;
	border: 1px none #39F;
}
#box_annonces  a {
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}
#box_annonces  form {
	font-family: arial;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	margin-top: 5px;
}
#box_annonce_liste {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 4px;
}

#box_annonces  a:hover {
	font-family: arial;
	font-size: 12px;
	color: #222;
	font-weight: normal;
}
#box_slide {
	background-image: url(images/fond_slide.png);
	background-repeat: no-repeat;
	background-position: left;
	float: right;
	height: 175px;
	width: 628px;
	margin-left: 10px;
	margin-right: 0px;
}

#actualites {
	height: auto;
	width: 689px;
	float: left;
	margin-left: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	position: relative;
}
#top_index {
	height: 90px;
	width: 1000px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(images/bg_top_index.png);
}

#boite_outils {
	height: 557px;
	width: 215px;
	position: relative;
	float: right;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-image: url( images/boite_outils.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 10px;
}
#boite_outils_actualites {
	height: 557px;
	width: 215px;
	position: relative;
	float: right;
	margin-right: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	border: 1px solid #FFF;
}



.container {
	width: 1000px;
	background-repeat: repeat-y;
	background-position: 0px 29px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	height: 1214px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#contenu_rpt {
	background-repeat: repeat-y;
	float: left;
	background-image: url(images/bg_contenu_rpt.png);
	width: 1000px;
	height: auto;
	border: 1px none #C90;
	padding-bottom: 18px;
}
#contenu_rpt_actualites {
	background-repeat: repeat-y;
	float: left;
	background-image: url(images/bg_contenu_rpt.png);
	width: 100%;
	height: auto;
	border: 1px none #C90;
}

#rpt_footer {
	background-image: url(images/bg_contenu_rpt_footer.png);
	background-repeat: no-repeat;
	float: right;
	width: 1000px;
	margin-bottom: 5px;
}


#logo {
	height: 91px;
	width: 275px;
	
}


.content ul, .content ol {
	padding: 0 15px 15px 40px;
}

#menu_top {
	height:26px;
	background-color:rgb(107,158,46); /*alternative pour les vieux navigateurs (sans transparence ici)*/
	background-color:#333;
} /*le fond uni avec transparence comme on aime*/

#menu_top ul {
	width:565px;
	padding-left:435px;
	margin: 0 auto;
	list-style: none;
}

#menu_top ul li {float:left;}

#menu_top ul a, #menu_top ul a:visited {
	padding: 2px 17px 0px;
	display: block;
	font-family:Melbourne;
	font-size:18px;
	color:#fff;
	text-shadow:0 1px 2px #555;
	text-decoration: none;
}
#menu_top ul a.actif, #menu_top ul a:hover, #menu_top ul a:active, #menu_top ul a:focus {
	background:url( images/menu_hover.png) center top no-repeat;
}

/*------------------------------------------*/

.content_hp {margin-bottom:20px; color:#595959;}
.content_hp h2 { padding:0 0 6px 30px; background:none;}
.content_hp h2.titre1 { background:url( images/icone1.jpg) left top no-repeat, url( images/bg_titre.jpg) no-repeat bottom left;}
.content_hp h2.titre2 { background:url( images/icone2.jpg) left top no-repeat, url( images/bg_titre.jpg) no-repeat bottom left}
.content_hp h2.titre3 { background:url( images/icone3.jpg) left top no-repeat, url( images/bg_titre.jpg) no-repeat bottom left}
.content_hp header {padding:10px 0; height:160px;}
.content_hp figure { float:left; margin-left: 20px; margin-top:-8px; }

.content_hp article {
	width:290px;
	float:left;
	margin-top: 0;
	margin-right: 21px;
	margin-bottom: 0;
	margin-left: 10px;
}

.content_hp a#header_more { 
	float:right; 
	margin-right:94px;
	padding-left:12px;
	font-size:13px; 
	color:#517317; 
	text-decoration:none;
	background:url( images/puce_header_more.png) left center no-repeat}
.content_hp a#header_more:hover { text-decoration:underline;}
.content_hp p { color:#595959; font-size:14px; }


/*--------------------NEWS-----------------------*/
/*-----------------------------------------------*/

aside#news {
	/*On définit bêtement les propriétés de placement et de dimensions au bloc...*/
	width:675px;
	height:495px;
	margin-top:5px;
	/*Puis on le fait flotter à gauche pour qu'après les 2 blocs suivants se placent à côté (et non en-dessous)*/
	float:left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}
	
#news article {
	position:relative;
	padding-left:0px;
	float: left;
	border: thin none #F30;
	padding-right: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
} /*Chaque article reçoit une position:relative afin de placer les éléments qu'il contient à partir de son origine. C'est utile pour le footer de l'article (voir plus bas)*/
	
#news h2 { visibility:hidden;} /*On cache le <h2> mais on laisse l'espace qu'il occupait pour pousser le contenu vers le bas. Le titre est intégré dans le background en image.*/
#news h3 a{ 
	font-size:8px;
	font-weight:bold;
	color:#270f0a;
	text-decoration:none;}
#news p{
	font-size:11px;
	color:#333;
	font-family: arial;
	font-weight: lighter;
}
#news p.lire_suite a{ 
	font-size:13px;
	font-style:italic;
	color:#830f00;
	text-decoration:none;}
		
#news p.lire_suite a:hover{ text-decoration:underline;}
	
#news footer {
	/*On positionne ce bloc en absolu par rapport à l'article conteneur (grâce à notre précédent position:relative sur <article>)*/
    position: absolute;
	/*Ainsi il se place tout en haut à gauche de l'article.*/
    left: 0px;
	top:0px;
	width: 38px;
	height:61px;
	padding-top: 2px;
	padding-right: 2;
	padding-bottom: 2;
	padding-left: 2px;
}
#news footer time { font-size:15px; color:#5c1100; font-family:Ginko;}
#news footer time span { font-family:Arial, Helvetica, Verdana, sans-serif;}
.contenu_article {
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	padding-left: 35px;
	padding-top: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-right-color: #333;
	border-bottom-color: #333;
	border-right-style: dotted;
	line-height: 15px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.contenu_file {
	height: 10px;
	width: 560px;
	float: right;
	margin-bottom: 5px;
	vertical-align: top;
	text-align: right;
	margin-top: 10px;
	border: 1px none #30F;
	
}
#recherche {
	height: 29px;
	width: 185px;
	float: right;
	margin-top: 20px;
	margin-right: 15px;
	vertical-align: middle;
}
#recherche placeholder {
	font-family: arial;
	font-size: 11px;
	font-style: italic;
	color: #999;
}
#recherche input {
	background-color: #eeeeee;
	height: 18px;
	width: 150px;
	border: 1px solid #d3d5d6;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	padding-top: 2px;
	padding-bottom: 2px;
}
#recherche_button {
	background-image: url(images/bt_search.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 23px;
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 3px;
}
#recherche form {
	margin-top: 0px;

}
.contenu_article_titre {
	font-family: arial;
	color: #000;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: 50px 9px;
	height: 12px;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	border: 1px none #F00;
}
.contenu_article_date {
	font-family: arial;
	color: #F63;
	padding-left: 15px;
	font-size: 10px;
	margin-right: 25px;
}
#article_date {
	
	width: 100px;
	float: left;
		font-family: arial;
	color: #F63;

	font-size: 10px;
}


.contenu_article p {
	font-family: arial;
	font-size: 11px;
	color: #333;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
}


/*------------------HOME BAS---------------------*/
/*-----------------------------------------------*/

#store_locator ul { list-style-image:url( images/puce_feuille.png); padding-left:28px;} /*On ajoute notre image de feuille comme puce pour chaque élément de la liste*/
#store_locator ul li {float:left; width:160px;} /*On indique que tous les <li> flottent à gauche*/
#store_locator ul li:nth-child(2n) {float:right;} /*Ici le sélecteur CSS3 permet de faire flotter à droite un <li> sur deux (2n)*/
#store_locator ul a { text-decoration:none; color:#3c580c;}
#store_locator ul a:hover { text-decoration:underline;}

#home_bas {
	width:393px;
	float:left;
	color:#414141;
	margin-top:40px;
	margin-left:32px;}

#newsletter { 
	margin-top:30px; 
	height:225px; /*La hauteur est nécessaire pour pouvoir afficher l'image tout en bas*/
	background:url( images/pot_newsletter.png) no-repeat bottom right;}
#newsletter input[type=email] {width:225px;}
#input {
	font-family: Arial;
	font-size: 11px;
	color: #333;
	border: 1px solid #666;
	background-color: #FFF;
}

#newsletter input[type=submit] {
	width:103px;
	color:#ffebc1;
	height:26px;
	margin-top:8px;
	text-shadow:0px -1px #802a15;
	border:none;
	background:url(images/bg_btn.jpg) no-repeat center top;
}

/*------------------------Pied de page-------------------------*/
/*-------------------------------------------------------------*/

#footer_site {
	height:30px;
	position: relative;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0;
	background-image: url( images/footer.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 990px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: 300;
	color: #333;
	text-align: right;
}

#footer_site aside {float:left; padding-left:56px;}
#footer_site aside p+p {margin:-1px 0 0 7px;}
#footer_site p { margin: 3px 0; float:left; color:#45444; font-size:13px;}
#footer_site p#copyright { float:right; color:#6e6e6e; font-size:12px;}
#footer_site p#copyright a { color:#556d2f;}
#footer_top {
	background-image: url( images/footer_top.png);
	background-repeat: no-repeat;
	float: left;
	width: 1000px;
	height: 13px;
	background-position: bottom;
	margin-top: 10px;
}
#infos_personne {
	width: 420px;
	float: left;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
#nom_agent {
	height: 20px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 22px;
	color: #FFF;
	margin-right: 20px;
	margin-left: 10px;
	text-align: center;
}
#bt_meteo  {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 18px;
	color: #FFF;
	text-align: center;
	width: 212px;
	background-image: url(images/bt_meteo.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
	height: 28px;
}
#bt_meteo  a {
	height: 40px;
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}
#bt_meteo a:hover {
	height: 40px;
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}

#bt_site_ville {
	
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	color: #FFF;
	text-align: center;
	width: 212px;
	background-image: url(images/bt_site_ville.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
	height: 28px;
}
#bt_site_ville   a {
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}
#bt_site_ville  a:hover {
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}
#bt_webmail {
	height: 28px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	color: #FFF;
	text-align: center;
	width: 212px;
	background-image: url(images/bt_webmail.png);
	background-repeat: no-repeat;
padding-top: 10px;
	padding-left: 10px;
	
}
#bt_cos {
	height: 26px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	color: #FFF;
	text-align: center;
	width: 212px;
	background-image: url(images/bt_cos.png);
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-left: 10px;
	margin-bottom: 5px;
}
#bt_liens {
	height: 26px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	color: #FFF;
	text-align: center;
	width: 212px;
	background-image: url(images/bt_liens.png);
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-left: 10px;
	margin-bottom: 5px;
}

#bt_cos a {
	height: 40px;
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}
#bt_liens a {
	height: 40px;
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}

#bt_webmail  a {
	height: 40px;
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}
#bt_webmail a:hover {
	height: 40px;
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}
#bt_cos a:hover {
	height: 40px;
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}
#bt_liens a:hover {
	height: 40px;
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}

#bt_mag_ville {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	width: 212px;
	background-image: url(images/bt_castres_mag.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 5px;
	height: 25px;
}
#vignette_mag_castres {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	width: 81px;
	background-repeat: no-repeat;
	padding-top: 2px;
	height: 107px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}
#read_more {
	text-align: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333;
}
#read_more a {

	
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #39F;
	text-decoration: underline;
}

#bt_mag_ville a {
	
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}
#bt_mag_ville a:hover {
	
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}


#bt_octime {
	height: 23px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	color: #FFF;
	text-align: center;
	background-image: url(images/bt_agent.png);
	background-repeat: no-repeat;
	padding-top: 7px;
	padding-right: 5px;
}
#bt_octime a {
	
	font-family: arial;
	font-size: 12px;
	color: #494a4a;
	text-decoration: none;
	font-weight: bold;
}
#bt_octime a:hover {
	
	font-family: arial;
	font-size: 13px;
	color: #1F1F1F;
	text-decoration: none;
	font-weight: bold;
}

#bt_fiche_perso {
	height: 20px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 22px;
	color: #FFF;
	margin-right: 20px;
	margin-left: 10px;
	text-align: center;
}
#bt_resa_voiture {
	height: 20px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 22px;
	color: #FFF;
	margin-right: 20px;
	margin-left: 10px;
	text-align: center;
}




#date_jour {
	height: 20px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin-right: 20px;
	margin-left: 10px;
	text-align: center;
	margin-top: 17px;
}
	.list_carousel {
	width: 550px;
	height: 175px;
	margin-top: 0px;
	background-image: url(images/fond_slide.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	float: right;
	margin-left: 20px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
	font-size: 40px;
	text-align: center;
	width: 97px;
	height: 124px;
	padding: 0;
	display: block;
	float: left;
	margin-top: 15px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
			}
		
			.clearfix {
				float: none;
				clear: both;
			}
#image_article {
	float: left;
	height: 62px;
	width: 80px;
	margin-right: 5px;
	margin-left: 0px;
	margin-top: 0px;
}
.read_news {
	font-family: Verdana;
	font-size: 10px;
	color: #333;
	margin-left: 10px;
}
#infos_page:before {
	  top: 0px;   
    left: 5%;   
    width: 90%;   
    height: 50px;   
    border-radius: 125px / 12px;   
    box-shadow: 0 0 8px #555;   
}
#infos_page:after {   
    bottom: 0px;   
    left: 5%;   
    width: 90%;   
    height: 50px;   
    border-radius: 125px / 12px;   
    box-shadow: 0 0 8px #565656;   
}  
#infos_page {
	position: relative;
	vertical-align: top;
	width: 960px;
	height: 60px;
	background: #f0e8d8;
	font-size: 0.9em;
	font-family: Verdana;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 25px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: groove;
	border-right-style: groove;
	border-left-style: groove;
	border-top-color: #f0e8d8;
	border-right-color: #f0e8d8;
	border-left-color: #f0e8d8;
	border-radius: 5px 5px 0px 0px;
}  
#BOX_erreur {
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
	height: 200px;
	width: 800px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	text-align: center;
	padding-top: 20px;
}
#titre_page {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #5f8fbd;
	height: 25px;
	width: 400px;
	padding-left: 35px;
	background-image: url(images/bg_titre.png);
	background-repeat: no-repeat;
	padding-top: 9px;
}
#titre_page_categorie_actus {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #5f8fbd;
	height: 25px;
	width: 400px;
	padding-left: 65px;
	background-image: url(images/bg_titre_categorie_actu.png);
	background-repeat: no-repeat;
	padding-top: 9px;
}

#bloc_sig {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	text-align: center;
	background-image: url(images/SIG/bg_sig.png);
	background-position: center 20px;
	height: 800px;
}
#box_consultation_sig {
	background-image: url(images/SIG/TITRE_CONS_BASE.png);
	background-repeat: no-repeat;
	height: 155px;
	width: 100%;
	background-position: center;
	margin-bottom: 20px;
}
#box_consultation_sig a {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
}
#box_consultation_sig a:hover ,#box_consultation_sig a:active, #box_consultation_sig a:visited{
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
#box_contact_sig {
	background-image: url(images/SIG/box_contact_sig.png);
	background-repeat: no-repeat;
	height: 109px;
	width: 100%;
	background-position: center;
	float: left;
}
#ref_carte_sig {
	font-family: Verdana;
	font-size: 10px;
	color: #AD4805;
}


#box_fichiers_sig {
	background-image: url(images/SIG/box_fichiers_sig.png);
	background-repeat: no-repeat;
	height: 202px;
	width: 312px;
	float: left;
	margin-right: auto;
	margin-left: 160px;
	padding-top: 120px;
}
#box_cartes_sig {
	background-image: url(images/SIG/box_cartes_sig.png);
	background-repeat: no-repeat;
	height: 202px;
	width: 312px;
	float: right;
	margin-right: 160px;
	margin-left: auto;
	padding-top: 120px;
}
#box_contenu_sig {
	font-family: arial;
	font-size: 11px;
	color: #000;
	float: left;
	text-align: left;
	border: 1px none #0F9;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 5px;
}
#bouton_consult_sig {
	background-image: url(images/SIG/bouton_consult_sig.png);
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	width: 227px;
	font-family: ARIAL;
	font-weight: bold;
	color: #FFF;
	padding-top: 10px;
	margin-top: 95px;
	margin-left: 200px;
}	
	#bouton_consult_sig_new {
	background-image: url(images/SIG/bouton_consult_sig_new.png);
	background-repeat: no-repeat;
	float: left;
	height: 38px;
	width: 320px;
	font-family: ARIAL;
	font-weight: bold;
	color: #FFF;
	padding-top: 10px;
	margin-top: 95px;
	margin-left: 350px;

}
#bouton_consult_Cacm {
	background-image: url(images/SIG/bouton_consult_sig.png);
	background-repeat: no-repeat;
	float: right;
	height: 30px;
	width: 227px;
	font-family: ARIAL;
	font-weight: bold;
	color: #FFF;
	padding-top: 10px;
	margin-top: 95px;
	margin-right: 200px;
}

#logo_fichier {
	float: left;
	height: 37px;
	width: 35px;
}
#bg_fiche_agent {
	height: 500px;
	width: 410px;
	background-image: url(../../../images/ORGANIGRAMME/fiche_service_orga.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#orga_champs {
	height: 20px;
	float: right;
	margin-right: 5px;
	font-family: arial;
	font-size: 14px;
	color: #063165;
	font-weight: lighter;
}
#orga_libelle {
	height: 20px;
	font-family: ARIAL;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	width: 75px;
	float: left;
}
#content_info_orga {
	height: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 50px;
	margin-left: 45px;
}
#orga_nom {
	font-family: Verdana;
	font-size: 16px;
	color: #10899E;
	height: 40px;
	font-weight: bold;
	font-variant: normal;
	padding-top: 40px;
	padding-left: 45px;
	margin-bottom: 10px;
	padding-right: 45px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#orga_service {
	font-family: arial;
	font-size: 12px;
	color: #2C2C2C;
	height: 30px;
	padding-left: 20px;
	text-transform: uppercase;
	margin-top: 10px;
	padding-top: 8px;
	font-weight: bold;
}
#box_intro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-align: center;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color:#BBD1DD;
	border: 2px solid #FFF;
}
input[type="submit"]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0% 40%;
}
textarea {
  resize: none;
}
a.info { 
  position: relative; 
  cursor: help;
  text-decoration: none;
  color: #000000;
  }
a.info:hover { 
  background-color: white;
}
a.info span {
  display: none;
}
a.info:hover span { 
  display: block; 
  position: absolute; 
  top: 30px; 
  left: 10px; 
  width: 200px;
  border: 1px;
  border-style: solid;
  border-color: #000000; 
  color: #000000;  
  text-align: justify; 
  background-color : white;
  font-weight: normal; 
  padding: 5px;
}